@import "settings";
@import "scss/mixins";

// slider int
.slider-int{
   @include mp-width();
   position: relative;
}

// modal
.blocker{
  padding: 0 !important;
  background: #fff;
}

.modal{
  width: 100% !important;
  max-width: 100% !important;
  border-radius: 0 !important;
  box-shadow: none !important;

}

.close-modal{
  top: 20px !important;
  right: 20px !important;
}
