@import "settings";
@import "functions";

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none !important;
}

body {
  font-family: $bff;
  font-size: $global-font-size;
  overflow-x: hidden !important;
  overflow-y: scroll;
  background: $bgc;
}

a,
button,
input[type="image"] {
  cursor: pointer;
  text-decoration: none;
  outline: none !important;
  @include mp-animacao;
  box-shadow: none !important;
}

input,
button[type="submit"],
textarea {
  font-family: $bff;
  outline: none;
}

input[type=text],
input[type=email],
input[type=password],
textarea {
  @include mp-animacao;
}
