$global-responsive: 1190px;
$global-font-size: 14px;
$global-lineheight: 1.5;
$bgc: #fff;
$cd: #000;
$csd: #000;
$ctxt: #363537;
$bff: 'Roboto', sans-serif;

// menu responsivo
$lk-color: #000;
$lk-color-active: #fff;
$bg-color-active: $cd;
$hamb-color: #eee;
