$global-responsive: 1190px;
$global-font-size: 14px;
$global-lineheight: 1.5;
$color-default:  #EC1D23;
$color-second-default: #014E83;
$color-txt: #191919;
$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
$black: #0a0a0a;
$white: #fff;
$body-background: $white;
$body-font-color: $black;
$body-font-family: 'Roboto', sans-serif;
$body-antialiased: true;
$global-margin: 0;
$global-padding: 0;
$global-weight-normal: normal;
$global-weight-bold: bold;
$global-radius: 0;
$global-text-direction: ltr;
$global-flexbox: true;
$print-transparent-backgrounds: true;
