*, *:before, *:after {
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
  outline: none !important; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  overflow-x: hidden !important;
  overflow-y: scroll;
  background: #fff; }

a,
button,
input[type="image"] {
  cursor: pointer;
  text-decoration: none;
  outline: none !important;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  -webkit-tap-highlight-color: transparent;
  box-shadow: none !important; }

input,
button[type="submit"],
textarea {
  font-family: "Roboto", sans-serif;
  outline: none; }

input[type=text],
input[type=email],
input[type=password],
textarea {
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  -webkit-tap-highlight-color: transparent; }

.fluid {
  width: 100%;
  height: auto;
  float: left;
  clear: both; }

.responsive {
  width: 100%;
  max-width: 1190px;
  margin: 0 auto;
  height: auto;
  padding: 0 15px; }

.swiper-wrapper {
  opacity: 0; }

.swiper-button-disabled {
  cursor: default; }

/******************************
* Menu mobile
*******************************/
.title-bar {
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
  height: 40px;
  float: left;
  display: none;
  background: transparent;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  padding-left: 15px;
  padding-right: 15px; }
  .title-bar button {
    background: transparent; }
  .title-bar .title-bar-title {
    opacity: 0; }

.m-mobile {
  background: #ffffff; }
  .m-mobile ul {
    margin: 50px 0 0 0; }
    .m-mobile ul li {
      border-bottom: 1px solid #eee; }
      .m-mobile ul li:last-child {
        border-bottom: 0; }
    .m-mobile ul a {
      font-size: 13px;
      color: #000;
      -moz-transition: all 200ms ease-in-out;
      -o-transition: all 200ms ease-in-out;
      -webkit-transition: all 200ms ease-in-out;
      transition: all 200ms ease-in-out;
      -webkit-tap-highlight-color: transparent; }
      .m-mobile ul a:hover, .m-mobile ul a.ativo {
        background: #000;
        color: #fff; }
  .m-mobile .close-button {
    color: #111;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    -webkit-tap-highlight-color: transparent; }
    .m-mobile .close-button:hover {
      opacity: .5; }
  .m-mobile .menu.vertical {
    width: 100%;
    height: auto;
    float: left;
    margin: 40px 0 0 0; }
    .m-mobile .menu.vertical > li {
      width: 100%;
      float: left; }
  .m-mobile .divider {
    width: 100%;
    height: 1px;
    float: left;
    background: #000;
    opacity: .1;
    margin: 5px 0 4px 0; }

.js-off-canvas-overlay {
  background: rgba(0, 0, 0, 0.8); }

/******************************
* content ajax default
*******************************/
.content-ajax {
  width: 100%;
  height: auto;
  float: left;
  margin: 0; }

/******************************
* load ajax default
*******************************/
.load-ajax {
  width: 100%;
  height: 100%;
  float: left;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6000;
  background: rgba(17, 17, 17, 0.8);
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  /* centraliza na vertical */
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  /* centraliza na horizontal */
  -ms-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  display: none; }
  .load-ajax svg {
    display: table;
    margin-left: auto;
    margin-right: auto; }

/******************************
* menu fixed
*******************************/
.menu-fixed {
  width: 100%;
  height: 50px;
  float: left;
  margin: 0;
  background: #000;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-tap-highlight-color: transparent;
  position: fixed;
  top: -50px;
  z-index: 1200; }
  .menu-fixed ul {
    display: table;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 50px; }
    .menu-fixed ul li {
      width: auto;
      height: auto;
      float: left;
      margin: 0;
      padding: 0 15px; }
      .menu-fixed ul li a {
        width: auto;
        height: 50px;
        float: left;
        margin: 0;
        color: #000;
        font-size: 14px;
        line-height: 50px; }
        .menu-fixed ul li a:hover, .menu-fixed ul li a.ativo {
          color: #000; }
  .menu-fixed.open {
    top: 0; }

/******************************
* centralizar
*******************************/
.ctr {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  /* centraliza na vertical */
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  /* centraliza na horizontal */
  -ms-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center; }

.title-bar .menu-icon {
  margin: 0; }

.menu-icon::after {
  background: #eee;
  -webkit-box-shadow: 0 7px 0 #eee, 0 14px 0 #eee;
  box-shadow: 0 7px 0 #eee, 0 14px 0 #eee; }

.logo-menu-mobile {
  width: 100%;
  height: auto;
  float: left;
  margin: 15px 0 0 0;
  padding: 0 15px; }

.slider-int {
  width: 100%;
  height: auto;
  float: left;
  margin: 0;
  position: relative; }

.blocker {
  padding: 0 !important;
  background: #fff; }

.modal {
  width: 100% !important;
  max-width: 100% !important;
  border-radius: 0 !important;
  box-shadow: none !important; }

.close-modal {
  top: 20px !important;
  right: 20px !important; }

.f-left {
  float: left; }

.f-right {
  float: right; }

.p-relative {
  position: relative; }

.p-absolute {
  position: absolute; }

ol, ul, li {
  margin: 0;
  padding: 0;
  list-style: none; }

.slider-int {
  width: 100%;
  height: auto;
  float: left;
  margin: 0;
  position: relative; }

.blocker {
  padding: 0 !important;
  background: #fff; }

.modal {
  width: 100% !important;
  max-width: 100% !important;
  border-radius: 0 !important;
  box-shadow: none !important; }

.close-modal {
  top: 20px !important;
  right: 20px !important; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif; }

@media (max-width: 1360px) {
  .area-navs {
    display: none !important; } }
@media (max-width: 1023px) {
  .title-bar {
    display: flex; }

  #topo {
    display: none; }

  input, textarea {
    font-size: 14px; }
    input.placeholder, textarea.placeholder {
      font-size: 14px; }
    input:-moz-placeholder, textarea:-moz-placeholder {
      font-size: 14px; }
    input::-moz-placeholder, textarea::-moz-placeholder {
      font-size: 14px; }
    input:-ms-input-placeholder, textarea:-ms-input-placeholder {
      font-size: 14px; }
    input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
      font-size: 14px; } }

/*# sourceMappingURL=app.css.map */
